@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';
.changing-container {
  font-family: 'Roboto Mono', monospace;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.changing-text {
  font-weight: 100;
  font-size: 98px;
  color: #00FF72;
}
.dud {
  color: #C0E6B8;
}
.changing-heading {
  text-shadow: 0px 0px 50px #00FF72,
               0px 0px 5px  #00FF00;
               0px 0px 25px #00FF72;
  font-size: 42px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
}
.operatingSystemLogos {
    margin: 20px;
    margin-bottom: 5px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}
.os-span {
    position: relative;
}
.caption {
    position: absolute;
    left:0;
    right:0;
    top:50%;
}
