.callout-container {
  text-align: center;
  border: 1px solid gray;
  margin: 10px auto;
  padding: 20px;
  padding-left: 20px;
  font-size: 20px;
}

.primary {
  background-color: #D7ECFA;
}

.alert {
  background-color: #F7E4E1;
}
