.callout-container {
  text-align: center;
  border: 1px solid gray;
  margin: 10px auto;
  padding: 20px;
  padding-left: 20px;
  font-size: 20px;
  width: 95%;
  border: 3px solid white;
}

.primary {
  background-color: #222222;
}

.alert {
  background-color: #331111;
}
